//Colors

$color-grey: #ededed;
$color-black: #4a4a4a;
$color-orange: #ea7f28;
$color-orange-active: #d37324;

//Fonts

$font-family: 'Roboto';
$font-large: 32px;
$font-medium: 18px;
$font-small: 14px;
$font-x-small: 12px;
$font-bold: 700;

//Padding

$padding-large: 24px;
$padding-medium: 12px;
$padding-small: 8px;

//Padding

$margin-large: 24px;
$margin-medium: 12px;
$margin-small: 8px;

//Heights

$header-height: 80px;
$footer-height: 80px;

//Wrapper width
$wrapper-width: 800px;

//Button
$button-height: 32px;
$button-width: 128px;
